.registration-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    overflow: auto;
}

.registration-form__fieldset {
    border: #ddd solid 2px;
    border-radius: 8px;
    min-height: 300px;
}

.registration-form__legend {
    font-size: 18px;
}

.registration-form__submit {
    border: none;
    background: var(--main-color-primary);
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;

    &:hover {
        background: var(--main-color-dark);
    }
}
