html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100%;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*global style*/

/*button {*/
/*    background: white !important;*/
/*}*/
