:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #2c3e50;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --main-color-dark: #1A5319;
    --main-color-primary: #508D4E;
    --main-color-thirdly: #508D4E;
    --main-color-light: #D6EFD8;
}
